<div class="search-bar">
    <nav class="navbar navbar-expand-lg bg-dark search-bar">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-sm-2">
                    <button type="button" class="btn btn-light" (click)="addClient()">
                        Добавить клиента <i class="fas fa-user-plus"></i>
                    </button>
                </li>
                <li class="nav-item mx-sm-2">
                    <div class="input-group search-input form-inline">
                        <input type="text" class="form-control" placeholder="Введите имя..."
                               [(ngModel)]="searchName">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <ngb-pagination
                            [(page)]="page"
                            [pageSize]="pageSize"
                            [collectionSize]="clients.length"></ngb-pagination>
                </li>
            </ul>
        </div>
    </nav>
    <div class="card-deck">
        <div *ngFor="
        let client of (clients
        | nameFilter: searchName
        | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize) as filteredClients">
            <div class="card card-wrapper">
                <div class="card-body">
                    <h5 class="card-title" [ngClass]="{'text-secondary': !isActive(client)}">
                        <i class="fas fa-user-tie"></i> {{client.firstName}} {{client.lastName}}
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngIf="client.nickname">
                        <i class="fas fa-pen"></i> {{client.nickname}}
                    </li>
                    <li class="list-group-item" *ngIf="client.phoneNumber">
                        <i class="fas fa-phone"></i> {{client.phoneNumber}}
                    </li>
                    <li class="list-group-item" *ngIf="client.internetLink">
                        <i class="fas fa-external-link-square-alt"></i>
                        <a href="{{client.internetLink}}"> {{client.internetLink}}</a>
                    </li>
                </ul>
                <div class="card-body" *ngIf="client.operations.length">
                    <a data-toggle="collapse" href="#{{'collapseOperations' + client.id}}" role="button"
                       aria-expanded="false" class="operations-button">
                        <i class="fas fa-calendar-alt"></i> Записи <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="collapse" id="{{'collapseOperations' + client.id}}">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" *ngIf="getOpenOperations(client).length">
                                <i class="fas fa-spinner"></i> Открытые:
                                <div class="list-group">
                                    <a class="badge badge-primary my-sm-1"
                                       (click)="showOperation(operation.id)"
                                       *ngFor="let operation of getOpenOperations(client)">
                                        {{operation.date}}
                                    </a>
                                </div>
                            </li>
                            <li class="list-group-item" *ngIf="getClosedOperations(client).length">
                                <i class="far fa-check-circle"></i> Закрытые:
                                <div class="list-group">
                                    <a class="badge badge-info my-sm-1"
                                       (click)="showOperation(operation.id)"
                                       *ngFor="let operation of getClosedOperations(client)">
                                        {{operation.date}}
                                    </a>
                                </div>
                            </li>
                            <li class="list-group-item" *ngIf="getCancelledOperations(client).length">
                                <i class="fas fa-ban"></i> Отмененные:
                                <div class="list-group">
                                    <a class="badge badge-danger my-sm-1"
                                       (click)="showOperation(operation.id)"
                                       *ngFor="let operation of getCancelledOperations(client)">
                                        {{operation.date}}
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-warning" (click)="editClient(client)">
                            Редактировать <i class="fas fa-edit"></i></button>
                        <button type="button" class="btn btn-danger" (click)="deleteClient(client)"
                                *ngIf="isActive(client)">
                            Удалить <i class="fas fa-trash"></i></button>
                        <button type="button" class="btn btn-success" (click)="restoreClient(client)"
                                *ngIf="!isActive(client)">
                            Восстановить <i class="fas fa-trash-restore"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
