.card-wrapper {
    margin-bottom: 20px;
}

.search-input {
    width: 250px;
}

.operations-button {
    text-decoration: none;
    color: black;
}

.operations-button:hover {
    cursor: pointer;
    color: #16c5db !important;
}
