@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";
@import "~@fullcalendar/list/main.css";
@import "~@fullcalendar/bootstrap/main.css";

.time-picker {
  margin-left: 15px;
}

.price-length {
  width: 140px
}

.fc-view-container{
  background-color: white;
}

.fc-center {
  background: #ffffff;
  opacity: 0.8;
  border-radius: 5px;
}
