@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~fullcalendar/dist/fullcalendar.min.css";
@import "~jquery-ui-themes/themes/blitzer/jquery-ui.min.css";
@import "~jquery-ui-themes/themes/blitzer/theme.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

.fc-center {
  background: #ffffff;
  opacity: 0.8;
  border-radius: 5px;
}

.time-picker {
  margin-left: 15px;
}

.price-length {
  width: 140px
}
