@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~fullcalendar/dist/fullcalendar.min.css";
@import "~jquery-ui-themes/themes/hot-sneaks/jquery-ui.min.css";
@import "~jquery-ui-themes/themes/hot-sneaks/theme.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

.app-styles {
  height: 100%;
  background: url("./assets/image/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.fc-center {
  background: #ffffff;
  opacity: 0.8;
  border-radius: 5px;
}

.fc-day.ui-widget-content:hover {
  background-color: #e5d6a5;
  cursor: pointer;
}

td.fc-day-top:hover {
  background-color: #e5d6a5;
  cursor: pointer;
}

.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end {
  cursor: pointer;
}

.time-picker {
  margin-left: 15px;
}

.price-length {
  width: 140px
}

.page-link {
  color: black;
}

.page-item.active .page-link {
  background: darkgrey;
  border-color: darkgrey;
}
